@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap');
@import "colors";

@mixin big-serif{
    font-size: 32px;
    font-family: Fraunces, serif;
    font-weight: 700;
    line-height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: $neutral-p;
    line-height: 150%;

  }
  
  h1 {
        color:$neutral-dark;
        @include big-serif;
 
  }

  button{
    font-size:14px;
    font-weight: 700;
  }

  .pretitle{
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:$neutral-p;
  }

  .sale-price{
    @include big-serif;
  }